.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}
.header__image {
  position: absolute;
  margin-top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
.logo {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  width: 105px;
  height: 39px;
}
.nav__links {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
}
.nav__links-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  letter-spacing: -1px;
  max-width: 709px;
  margin-left: 80px;
  margin-bottom: 28px;
}
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  margin-bottom: 20px;
}

.header-description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
}

.header__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin-top: auto;
  margin-left: 80px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  margin-right: 80px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
